@import "tailwindcss";

@theme {
  --color-gold1: #FFD700;
  --color-gold2: #FFC107;
  --color-gold3: #FF8C00;
  --color-black1: #242424;
  --color-black2: #181818;
}
/* Custom colors (optional if you already configured tailwind.config.js) */
:root {
  --color-gold1: #FFD700;
  --color-gold2: #FFC107;
  --color-gold3: #FF8C00;
  --color-black1: #242424;
  --color-black2: #181818;
}
:root{
  background-color: #181818;
} 

/* Masonry grid custom styles */
.my-masonry-grid {
  display: flex;
  margin-left: -1rem; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 1rem;
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  margin-bottom: 1rem;
}

